.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vh 0;
    // background: url('../../../public/img/background.svg') no-repeat center center fixed;
    background-size: cover;
    max-height: 100vh;
    width: 100vw;    
}